@model HomeModel
@{
    ViewData["Title"] = "Home";
}

<p class="alert-danger w3-center">
    <i class="fa fa-exclamation-triangle"></i>
    If you are in trouble, please contact your nearest park supervisor at:
    <i class="fa fa-phone"></i>
    <input class="nav-link text-dark w3-hover-amber rounded border-0 p-0 d-inline-flex"
           type="button"
           value="@Model.NearestPark.Supervisor.EmergencyNumber"
           onclick="location.href='@Url.Action("Details", "Supervisors",
                                      new { parkId = @Model.NearestPark.ParkId })'" />
</p>

<h1 class="text-lg-center">Welcome to the Parks Authority new Website!</h1>
<div class="justify-content-center">
    <div class="row w-100">
        <div class="ml-auto mr-auto">
            <img src="~/images/LogoFull.PNG" />
        </div>
    </div>

    <div class="row text-center flex-wrap text-wrap">
        <div class="font-weight-bold p-1 m-1">
            <p>
                Our new redesigned site contains lots more features,
                such as being able to look at the wonderful parks in your area
            </p>
            <p>
                Currently we have
                @Model.Parks.Count
                @if (Model.Parks.Count > 1)
                {<span>parks</span> }
                else
                {<span>park</span>}
                registered!
            </p>

        </div>

        <div class="font-weight-bold p-1 m-1 card border-info">
            <h4 class="font-weight-bolder text-info mw-100">
                Latest Site Features
            </h4>
            <p class="font-weight-bolder m-1">
                <input class="nav-link text-dark border-info d-inline-flex bg-transparent rounded"
                       type="button"
                       value="Check out our new shop!"
                       onclick="location.href='@Url.Action("Index", "Shop")'" />
                You can order directly from the website and view your order statuses in your account page.
            </p>
            <p class="font-weight-bolder m-1">
                Take a look into the Local Parks
                <input class="nav-link text-dark border-info d-inline-flex bg-transparent rounded"
                       type="button"
                       value="Reports Page"
                       onclick="location.href='@Url.Action("Index", "Reports")'" />.
                To see data about the parks, our staff and the new shop!
            </p>

        </div>

        @if (Model.ParksClosingSoon.Any())
        {
            <div class="row w-100">
                <div class="border-danger card rounded p-1 m-1 col-10 offset-1">
                    <h3 class="border-bottom font-weight-bold text-danger">Closing Soon</h3>
                    @foreach (var park in Model.ParksClosingSoon)
                    {
                        <p>
                            <input class="nav-link text-dark w3-hover-amber rounded border-0 p-0 d-inline-flex"
                                   type="button"
                                   value="@park.Name"
                                   onclick="location.href='@Url.Action("Details", "Parks",
                                      new { parkId = park.ParkId })'" />
                            (@park.PostcodeZone) closes at @park.ClosingTime.TimeOfDay
                        </p>
                    }
                </div>
            </div>
        }

    <div class="row w-100 justify-content-center">
        <div class="col-md-5 col-sm-11">
            <div class="border-secondary card rounded p-1 m-1  mw-100">
                <h3 class="border-bottom">Selected park</h3>
                <p>
                    <input class="nav-link text-dark w3-hover-amber rounded border-0 p-0 d-inline-flex"
                           type="button"
                           value="@Model.NearestPark.Name"
                           onclick="location.href='@Url.Action("Details", "Parks",
                                      new { parkId = @Model.NearestPark.ParkId })'" />
                    ! Click on the parks name to find out all about it.
                </p>
            </div>
        </div>

        <div class="col-md-5 col-sm-11">
            <div class="border-secondary card rounded p-1 m-1 mw-100">
                <h3 class="border-bottom">Open Parks</h3>
                <p>
                    Right now
                    @if (Model.OpenParksCount > 1)
                    {<span>we have @Model.OpenParksCount parks open!</span> }
                else if (Model.OpenParksCount == 1)
                {<span>only one of our parks is open, but may close soon too!</span>}
                else
                {<span>
                        All of our parks are shut, please check the parks page to see when they open:
                    </span>}
                    <input class="nav-link text-dark w3-hover-amber rounded border-0 p-0 d-inline-flex"
                           type="button"
                           value="See our parks"
                           onclick="location.href='@Url.Action("Index", "Parks")'" />
                </p>
            </div>
        </div>
    </div>

    <div class="row  w-100">

        <div class="col-md-5 col-sm-11">
            <div class="colbg-light p-1 m-0 rounded  mw-100">
                <h3 class="border-bottom font-weight-bolder">Upcoming Events</h3>
                @if (!Model.EventsThisMonth.Any())
                {
                    <p>
                        Sadly no events are planned in the next month.
                    </p>
                    <p>
                        You can help the community, by
                        <input class="nav-link text-dark w3-hover-amber rounded border-0 p-0 d-inline-flex"
                               type="button"
                               value="schedule an event today!"
                               onclick="location.href='@Url.Action("Edit", "ParkEvents")'" />
                    </p>
                }
                else
                {
                    <input class="nav-link text-dark w3-hover-amber rounded border-0 p-0 d-inline-flex"
                           type="button"
                           value="See all events"
                           onclick="location.href='@Url.Action("Index", "ParkEvents")'" />

                    @foreach (var parkEvent in Model.EventsThisMonth)
                    {
                        <p>
                            <table>
                                <thead>
                                    <tr>
                                        <td colspan="3" class="font-weight-bolder border-secondary">@parkEvent.Name</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class="font-weight-bolder">In park:</span> @parkEvent.ParkName</td>
                                        <td><span class="font-weight-bolder">Date: </span>@parkEvent.Date.ToLongDateString()</td>
                                        <td>
                                            <input class="nav-link text-dark w3-hover-amber rounded border-0 p-0 d-inline-flex"
                                                   type="button"
                                                   value="Find out more"
                                                   onclick="location.href='@Url.Action("Details", "ParkEvents",
                                      new { eventId = parkEvent.EventId })'" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </p>
                    }
                }
            </div>
        </div>

        <div class="col-md-5 col-sm-11">
            <div class="bg-light p-1 m-0 rounded mw-100">
                <h3 class="border-bottom font-weight-bolder">Recently Added Events</h3>
                <p>
                    <table class="align-content-center">
                        <thead>
                            <tr>
                                <td class="bg-light font-weight-bolder border-secondary" colspan="3">@Model.AllEvents.Last().Name</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="font-weight-bolder">In park:</span> @Model.AllEvents.Last().ParkName</td>
                                <td><span class="font-weight-bolder">Date:</span> @Model.AllEvents.Last().Date.ToLongDateString()</td>
                                <td>
                                    <input class="nav-link text-dark w3-hover-amber rounded border-0 p-0 d-inline-flex"
                                           type="button"
                                           value="Find out more"
                                           onclick="location.href='@Url.Action("Details", "ParkEvents",
                                      new { eventId = @Model.AllEvents.Last().EventId })'" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
        </div>
        <div class="row  w-100">
            <div class="col-md-10 offset-md-1 p-1 m-0">
                <h3 class="border-bottom font-weight-bolder">Newest Club</h3>
                <p class="align-content-center align-self-center align-items-center">
                    <table class="w-100">
                        <thead>
                            <tr>
                                <td class="bg-dark rounded font-weight-bolder w3-text-amber" colspan="2">@Model.NewestSportsClub.Name</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span class=" p-1 m-1">Located in park: </span>
                                    <span class=" p-1 m-1 font-weight-bolder">
                                        <input class="nav-link text-dark w3-hover-amber rounded border-0 p-1 m-1 d-inline-flex font-weight-bolder"
                                               type="button"
                                               value="@Model.NewestSportsClub.ParkName"
                                               onclick="location.href='@Url.Action("Details", "Parks",
                                      new { parkId = Model.NewestSportsClub.ParkId})'" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td><span class=" p-1 m-1">Their sport is:</span> <span class=" p-1 m-1 font-weight-bolder">@Model.NewestSportsClub.Sport.ToString()</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="nav-link text-dark w3-hover-amber rounded border-0 p-1 m-1 d-inline-flex font-weight-bolder"
                                           type="button"
                                           value="Interested?"
                                           onclick="location.href='@Url.Action("Details", "SportsClubs",
                                      new { sportsClubId = Model.NewestSportsClub.ClubId })'" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </p>
            </div>
        </div>

    </div>
</div>
