@model HomeModel
@{
    ViewData["Title"] = "Home";
}

<p class="alert-danger w3-center">
    <i class="fa fa-exclamation-triangle"></i>
    If you are in trouble, please contact your nearest park supervisor at:
    <i class="fa fa-phone"></i>
    <input class="nav-link text-dark w3-hover-amber rounded border-0 p-0 d-inline-flex"
           type="button"
           value="@Model.NearestPark.Supervisor.EmergencyNumber"
           onclick="location.href='@Url.Action("Details", "Supervisors",
                                      new { parkId = @Model.NearestPark.ParkId })'" />
</p>

<h1 class="text-lg-center">Welcome to the Parks Authority new Website!</h1>

<div class="col-md-6 offset-md-3 align-content-center align-items-center align-self-center">
    <img style="height: 60%; width: 60%;" src="~/images/LogoFull.PNG" />
</div>

<div class="row text-center col-md-10 offset-md-1 flex-wrap text-wrap">
    <div class="font-weight-bold p-1 m-1">
        <p>
            Our new redesigned site contains lots more features,
            such as being able to look at the wonderful parks in your area
        </p>
        <p>
            Currently we have
            @Model.Parks.Count()
            @if (Model.Parks.Count() > 1)
            {<span>parks</span> }
            else
            {<span>park</span>}
            registered!
        </p>

    </div>
    <div class="row">
        <div class="col-md-5 border-secondary card rounded  p-1 m-1">
            <h3 class="border-bottom">Selected park</h3>
            <p>
                <input class="nav-link text-dark w3-hover-amber rounded border-0 p-0 d-inline-flex"
                       type="button"
                       value="@Model.NearestPark.Name"
                       onclick="location.href='@Url.Action("Details", "Parks",
                                      new { parkId = @Model.NearestPark.ParkId })'" />
                ! Click on the parks name to find out all about it.
            </p>
        </div>

        <div class="col-md-5 border-secondary card rounded p-1 m-1">
            <h3 class="border-bottom">Open Parks</h3>
            <p>
                Right now
                @if (Model.OpenParksCount > 1)
                {<span>we have @Model.OpenParksCount parks open!</span> }
            else if (Model.OpenParksCount == 1)
            {<span>only one of our parks is open, but may close soon too!</span>}
            else
            {<span>
                    All of our parks are shut, please check the parks page to see when they open:
                </span>}
                <input class="nav-link text-dark w3-hover-amber rounded border-0 p-0 d-inline-flex"
                       type="button"
                       value="See our parks"
                       onclick="location.href='@Url.Action("Index", "Parks")'" />
            </p>
        </div>
    </div>
        @if (Model.OpenParksCount > 0)
        {<h3 class="border-bottom">Closing Soon</h3>
            <div class="border-danger card rounded  p-1 m-1">
                @foreach (var park in Model.Parks)
                {
                    if (park.ClosingTime.Hour >= DateTime.Now.Hour && park.ClosingTime.Hour <= DateTime.Now.Hour + 2)
                    {
                        <p>
                            <input class="nav-link text-dark w3-hover-amber rounded border-0 p-0 d-inline-flex"
                                   type="button"
                                   value="@park.Name"
                                   onclick="location.href='@Url.Action("Details", "Parks",
                                      new { parkId = park.ParkId })'" />
                            closes at @park.ClosingTime.TimeOfDay
                        </p>
                    }
                }
            </div>}

<div class="row">
    <div class="col-md-5 bg-light p-1 m-0 rounded">
        <h3 class="border-bottom font-weight-bolder">Upcoming Events</h3>
        @if (!Model.EventsThisMonth.Any())
        {
            <p>
                Sadly no events are planned in the next month.
            </p>
            <p>
                You can help the community, by
                <input class="nav-link text-dark w3-hover-amber rounded border-0 p-0 d-inline-flex"
                       type="button"
                       value="scheduling an event!"
                       onclick="location.href='@Url.Action("Edit", "ParkEvents")'" />
            </p>
        }
        else
        {
            <input class="nav-link text-dark w3-hover-amber rounded border-0 p-0 d-inline-flex"
                   type="button"
                   value="See all events"
                   onclick="location.href='@Url.Action("Index", "ParkEvents")'" />

            @foreach (var parkEvent in Model.EventsThisMonth)
            {
                <p>
                    <table>
                        <thead>
                            <tr>
                                <td colspan="3">@parkEvent.Name</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>In park: @parkEvent.ParkName</td>
                                <td>Date: @parkEvent.Date.ToLongDateString()</td>
                                <td>
                                    <input class="nav-link text-dark w3-hover-amber rounded border-0 p-0 d-inline-flex"
                                           type="button"
                                           value="Find out more"
                                           onclick="location.href='@Url.Action("Details", "ParkEvents",
                                      new { parkId = parkEvent.ParkId, date = parkEvent.Date })'" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </p>
            }
        }
    </div>

    <div class="col-md-5 bg-light p-1 m-0 rounded">
        <h3 class="border-bottom font-weight-bolder">Recently Added Events</h3>
        <p>
            <table class="align-content-center">
                <thead>
                    <tr>
                        <td class="bg-light" colspan="3">@Model.AllEvents.Last().Name</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="bg-light">In park:</span> @Model.AllEvents.Last().ParkName</td>
                        <td><span class="bg-light">Date:</span> @Model.AllEvents.Last().Date.ToLongDateString()</td>
                        <td>
                            <input class="nav-link text-dark w3-hover-amber rounded border-0 p-0 d-inline-flex"
                                   type="button"
                                   value="Find out more"
                                   onclick="location.href='@Url.Action("Details", "ParkEvents",
                                      new { parkId = Model.AllEvents.Last().ParkId, date = Model.AllEvents.Last().Date })'" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </p>
    </div>
</div>    
    <div class="col-md-10 offset-md-1 p-1 m-0">
        <h3 class="border-bottom font-weight-bolder">Newest Club</h3>
        <p class="align-content-center align-self-center align-items-center">
            <table>
                <thead>
                    <tr>
                        <td class="bg-dark rounded" colspan="2">@Model.NewestSportsClub.Name</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="bg-primary text-light">Their sport is:</span> <span class="font-weight-bolder">@Model.NewestSportsClub.Sport.ToString()</span></td>
                        <td>
                            <input class="nav-link text-dark w3-hover-amber rounded border-0 p-0 d-inline-flex"
                                   type="button"
                                   value="Interested?"
                                   onclick="location.href='@Url.Action("Details", "SportsClubs",
                                      new { sportsClubId = Model.NewestSportsClub.ClubId })'" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </p>
    </div>


</div>

<script>

    navigator.geolocation.getCurrentPosition(show_map);

    function show_map(position) {
        let latitude = position.coords.latitude;
        let longitude = position.coords.longitude;

        let url = "/Home/Index?latitude=" + latitude + "&longitude=" + longitude;
        $.post(url, function (data) {
        });
    }
</script>