@model HomeModel
@{
    ViewData["Title"] = "Home";
}
<p class="alert-danger w3-center m-1 mr-3 ml-3 p-2 rounded mb-2">
    <i class="fa fa-exclamation-triangle"></i>
    If you are in trouble, please contact your nearest park supervisor at:
    <i class="fa fa-phone"></i>
    <input class="nav-link text-dark w3-hover-amber rounded border-0 p-0 d-inline-flex pr-1 pl-1 font-weight-bolder"
           type="button"
           value="@Model.SelectedPark.Supervisor.EmergencyNumber"
           onclick="location.href='@Url.Action("Details", "Supervisors",
                                      new { parkId = @Model.SelectedPark.ParkId })'" />
</p>

@if (Model.ParksClosingSoon.Any())
{
    <div class="row justify-content-around mr-3 ml-3">
        <div class="border-danger p-1 card rounded text-center">
            <h5 class="border-bottom font-weight-bold text-danger">Closing Soon</h5>
            <ul class="m-0 p-0 d-flex flex-row justify-content-center flex-wrap align-items-center">
                @foreach (var park in Model.ParksClosingSoon)
                {
                    <li class="flex-column list-unstyled">
                        <div>
                            <input class="nav-link text-dark w3-hover-amber rounded border-0 p-0 d-inline-flex text-wrap"
                                   type="button"
                                   value="@park.Name"
                                   onclick="location.href='@Url.Action("Details", "Parks",
                                      new { parkId = park.ParkId })'" />
                            (@park.PostcodeZone) closes at @park.ClosingTime.TimeOfDay
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
}

<div class="row">
    <div class="container-fluid home-banner-img">

    </div>
</div>
<div class="justify-content-around bg-white m-0 p-0">

    <div class="bg-warning bg-dark w3-text-amber mb-3 p-2 ml-0 mr-0">
        <h1 class=" font-weight-bolder pl-5">Local Parks Authority</h1>
    </div>
    <div class="font-weight-bold p-1 m-1 text-center">
        <p>
            Our new redesigned site contains lots more great features.
            Currently we have
            @Model.ParkCount
            @if (Model.ParkCount > 1)
            {<span>parks</span> }
            else
            {<span>park</span>}
            registered!
        </p>

    </div>

    <div class="home-page-row">
        <div class="row home-page-items">
            <div class="col-12 hpi-features-img">
                <h4>Latest Features</h4>
            </div>
            <a asp-controller="Shop" asp-action="Index"
               class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="hpi-shop-img"></div>
                <div class="hpi-header">Local Parks Shop</div>
                <div>Check out our new online shop.</div>
                <div>You can get you Local Parks merch direct, and view your orders in your account.</div>
            </a>
            <a asp-controller="Reports" asp-action="Index" class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="hpi-reports-img"></div>
                <div class="hpi-header">Reports and Statistics</div>
                <div>We publish all of our findings and data, take a look at how we manage your local parks.</div>
            </a>
            <a asp-controller="Account" asp-action="SignUp" class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="hpi-signup-img"></div>
                <div class="hpi-header">Sign Up with Local Parks</div>
                <div>Create an account with us to be able to make the most out of the new site.</div>
                <div>From scheduling an event, to ordering from our shop and even access to developer tools.</div>
            </a>
        </div>

        <div class="row home-page-items">
            <div class="col-12 hpi-parksbanner-img">
                <h4>Your Local Parks</h4>
            </div>
            <a asp-controller="Parks" asp-action="Index"
               class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="hpi-parks3-img"></div>
                <div class="hpi-header">See all of our Parks</div>
                <div>Take a look at all of the parks near you</div>
                <div>You can search, sort and filter the parks we manage and find out all about the great areas around you.</div>
            </a>
            <a asp-controller="Parks" asp-action="Filter" asp-route-openOnly="yes"
               class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="hpi-parks1-img"></div>
                <div class="hpi-header">Currently Open Parks</div>
                <div>
                    Right now
                    @if (Model.OpenParksCount > 1)
                    {<span>we have @Model.OpenParksCount parks open!</span> }
                else if (Model.OpenParksCount == 1)
                {<span>only one of our parks is open, but may close soon too!</span>}
                else
                {<span>
                        all of our parks are shut, but they will be open again soon!
                    </span>}
                </div>
            </a>
            <a asp-controller="Parks" asp-action="Details" asp-route-ParkId="@Model.SelectedPark.ParkId"
               class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="hpi-parks2-img"></div>
                <div class="hpi-header">Selected Park: @Model.SelectedPark.Name</div>
                <div>Take a closer look at this park, located in <strong>@Model.SelectedPark.PostcodeZone</strong>.</div>
                <div>Find out about the clubs and events located in this park.</div>
            </a>
        </div>

        <div class="row home-page-items">
            <div class="col-12 hpi-clubsevents-img">
                <h4>Clubs and Events</h4>
            </div>
            <a asp-controller="SportsClubs" asp-action="Details" asp-route-SportsClubId="@Model.NewestSportsClub.ClubId"
               class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="hpi-club-img"></div>
                <div class="hpi-header">Our Newest Club: @Model.NewestSportsClub.Name</div>
                <div>This club is in <strong>@Model.NewestSportsClub.ParkName</strong> and their sport is <strong>@Model.NewestSportsClub.Sport</strong>.</div>
                <div>If you'd be interested in joining, take a closer a look and contact them!</div>
            </a>
            <a asp-controller="ParkEvents" asp-action="Details" asp-route-EventId="@Model.RecentEvent.EventId"
               class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="hpi-events-img"></div>
                <div class="hpi-header">@Model.RecentEvent.Name was just scheduled</div>
                <div>Its due to take place <strong>@Model.RecentEvent.Date.ToLongDateString()</strong>, in <strong>@Model.RecentEvent.ParkName</strong>.</div>
                <div>You can find out more about this event by clicking here!</div>
            </a>
            @if (Model.EventsThisMonth.Any())
            {
                <a asp-controller="ParkEvents" asp-action="Details" asp-route-EventId="@Model.EventsThisMonth.FirstOrDefault().EventId"
                   class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="hpi-event1-img"></div>
                    <div class="hpi-header">@Model.RecentEvent.Name is happening soon!</div>
                    <div>
                        This event is taking place
                        @if(Model.EventsThisMonth.FirstOrDefault().InDays() == 0) { <strong>
                            today
                        </strong>}
                        else if(Model.EventsThisMonth.FirstOrDefault().InDays() == 1) {<strong>
                            tomorrow
                        </strong>}
                        else {
                            <span>in <strong>@Model.EventsThisMonth.FirstOrDefault().InDays() days</strong>, in <strong>@Model.EventsThisMonth.FirstOrDefault().ParkName</strong>.</span>
                        }
                    </div>
                    <div>If you would be interested in attending, click here to find out more and contact the organiser.</div>
                </a>
            }
            else
            {
        <a asp-controller="ParkEvents" asp-action="Edit"
           class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="hpi-event1-img"></div>
            <div class="hpi-header">Upcoming Events</div>
            <div>Sadly no events are scheduled in our parks this month.</div>
            <div>If you would like to organise and event in one of our parks.</div>
            <div>Either for close friends and family or the community. Click here!</div>
        </a>
            }
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        $('#bodydiv').removeClass('container');
        $('#bodydiv').addClass('container-fluid mr-0 ml-0 pl-0 pr-0');
        $('body').removeClass('background-image-all');
        $('body').addClass('mr-0 ml-0 pl-0 pr-0');
    });
</script>