@model ICollection<SupervisorModel>
@{
    ViewData["Title"] = "Our Staff";
}

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/filtering.js"></script>
}

<h1 class="jumbotron">Park Authority Staff</h1>

<form id="filter-form-supervisors" asp-controller="Supervisors" asp-action="Filter" method="get">
    <p class="d-inline-flex font-weight-bolder" style=" width: 100%; ">

        <span class="w3-margin-right w3-margin-left">
            Employee name:
        </span>
        <input type="text" class="border-dark rounded filter-form-group" name="searchTerm" value="@TempData["Filter"]" />

        <span class="w3-margin-right w3-margin-left">
            Park:
        </span>
        @Html.DropDownList("parkFilter",
       new SelectList((System.Collections.IEnumerable)ViewData["Parks"], "Value", "Text"), "",
       htmlAttributes: new
       {
           @class = "form-control d-inline-flex filter-form-group",
           name = "parkFilter",
           style = "max-width: 20%; font-size: 12px; padding: 0px;"
       })

        <span class="w3-margin-right w3-margin-left">
            Sort by:
        </span>
        @Html.DropDownList("SortBy",
       new SelectList((System.Collections.IEnumerable)ViewData["SortOptions"], "Value", "Text"), "",
       htmlAttributes: new
       {
           @class = "form-control d-inline-flex filter-form-group",
           name = "sortBy",
           style = "max-width: 20%; font-size: 12px; padding: 0px;"
       })

        <input type="submit" class="btn-outline-light btn-dark btn-light rounded" value="Filter and Sort" />

    </p>
</form>

@if (TempData["Matches"] != null)
{
    <span class="alert-danger rounded w3-margin-left">@TempData["Matches"]</span>
}

@if (TempData["FilteredSorted"] != null || @TempData["Filter"] != null)
{
    <form asp-controller="Supervisors" asp-action="Index" method="get" class="d-inline-flex">
        <p>
            <input type="submit" value="Remove Filters and Sort" class="border-danger text-danger" />
        </p>
    </form>
}

<div class="bg-info border-dark text-dark w-auto rounded">Viewing <strong>@Model.Count()</strong> staff members.</div>

@foreach (var staffMember in Model)
{
    <partial name="_Summary" model="staffMember" />
}