@using LocalParks.Models
@model ParkModel
<div class="row summary-row-container">
    <div class="col-10 offset-1">
        <a asp-controller="Parks" asp-action="Details" asp-route-parkId="@Model.ParkId"
           class="w3-hover-text-amber w3-hover-border-amber">
            <div class="d-flex flex-row justify-content-between p-1 card border align-items-center">

                <div class="flex-column position-relative">
                    <h2 class="bg-light font-weight-bolder text-info shadow">@Model.Name</h2>
                    <h4 class="alert-warning font-weight-bold">
                        <i class="fa fa-clock"></i>
                        @Model.OpeningTime.ToString("hh:mm tt") - @Model.ClosingTime.ToString("hh:mm tt")
                    </h4>
                </div>
                <div class="flex-column position-relative">
                    @if (Model.IsOpen())
                    {
                        <h4 class="font-weight-bold border-success bg-success p-2 rounded text-dark">
                            Open
                        </h4>
                    }
                    else
                    {
                        <h4 class="font-weight-bold border-danger bg-danger p-2 rounded text-light">
                            Closed
                        </h4>
                    }
                </div>

                <div class="flex-column position-relative">
                    <table class="table summary-table-condensed table-striped dt-responsive w3-center rounded">
                        <thead class="thead-light">
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.PostcodeZone)</th>
                                <th>@Html.DisplayNameFor(model => model.SportClubs)</th>
                                <th>@Html.DisplayNameFor(model => model.Events)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.PostcodeZone</td>
                                <td>@Model.SportClubs.Count()</td>
                                <td>@Model.Events.Count()</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </a>
    </div>
</div>