@using LocalParks.Models
@model ParkEventModel

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>@Model.Name</h2>

        <input class="btn-dark w3-hover-border-amber w3-hover-text-amber rounded" 
               type="button" 
               value="See Details" 
               onclick="location.href='@Url.Action("Details", "ParkEvents", 
                                      new { eventId = Model.EventId })'" />
    </div>

    <table class="table table-striped table-bordered dt-responsive nowrap w3-center btn rounded">
            <tr>
                <th class="thead-light">@Html.DisplayNameFor(model => model.ParkName)</th>
                <th class="thead-light">@Html.DisplayNameFor(model => model.Date)</th>
            </tr>
            <tr>
                <td>@Model.ParkName</td>
                <td>@Model.Date.ToShortDateString()</td>
            </tr>
            <tr>
                <th class="thead-light" colspan="2">@Html.DisplayNameFor(model => model.Description)</th>
            </tr>
            <tr>
                <td colspan="2">@Model.Description</td>
            </tr>
    </table>
</div>