@model LocalParks.Models.ParkEventModel
@{
    ViewData["Title"] = "Event Details";
}

<div>
    <input class="btn-dark w3-hover-border-amber w3-hover-text-amber rounded" 
           type="button" 
           value="All events" 
           onclick="location.href='@Url.Action("Index", "ParkEvents")'"/>
</div>

<h2>@Model.Name</h2>
<table class="table table-striped table-bordered dt-responsive nowrap w3-center btn rounded">
                
    <tbody>
        <tr>
            <th class="w3-right-align">@Html.DisplayNameFor(model => model.Date)</th>
            <td class="w3-left-align">@Model.Date.ToLongDateString()</td>
        </tr>
        <tr>
            <th class="w3-right-align">@Html.DisplayNameFor(model => model.ParkId)</th>
            <td class="w3-left-align">@Model.ParkName</td>
        </tr>
        <tr>
            <th class="w3-right-align">@Html.DisplayNameFor(model => model.Description)</th>
            <td class="w3-left-align">@Model.Description</td>
        </tr>
        <tr>
            <th class="w3-right-align">@Html.DisplayNameFor(model => model.OrganiserFirstName)</th>
            <td class="w3-left-align">@Model.OrganiserFirstName @Model.OrganiserLastName</td>
        </tr>
        <tr>
            <th class="w3-right-align">@Html.DisplayNameFor(model => model.OrganiserEmail)</th>
            <td class="w3-left-align">@Model.OrganiserEmail</td>
        </tr>
        <tr>
            <th class="w3-right-align">@Html.DisplayNameFor(model => model.OrganiserPhoneNumber)</th>
            <td class="w3-left-align">@Model.ObsfucatedNumber()</td>
        </tr>
    </tbody>
</table>
<div>
    <input class="btn-dark w3-hover-border-amber w3-hover-text-amber rounded"
           type="button"
           value="Edit"
           onclick="location.href='@Url.Action("Edit", "ParkEvents",
                                      new { parkId = Model.ParkId, date = Model.Date })'" />

    <input class="btn-danger w3-hover-border-white w3-hover-text-white rounded"
       type="button"
       value="Delete"
       onclick="location.href='@Url.Action("Delete", "ParkEvents",
                                      new { parkId = Model.ParkId, date = Model.Date })'" />
</div>