@model ICollection<ParkEventModel>
@{
    ViewData["Title"] = "Events";
}

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/filtering.js"></script>
}

<div class="jumbotron">
    <table style="width: 100%;">
        <tr>
            <td>
                <h1>Upcoming events</h1>
            </td>
            <td class="w3-right">
                @if (ViewData["User"] != null)
                {
                    <h3>
                        <input class="btn-dark w3-hover-border-amber w3-hover-text-amber rounded btn-group-lg"
                               type="button"
                               value="Schedule an event"
                               onclick="location.href='@Url.Action("Edit", "ParkEvents")'" />
                    </h3>
                }
                else
                {
                    <h3>
                        <input class="btn-dark w3-hover-border-amber w3-hover-text-amber rounded btn-group-lg"
                               type="button"
                               value="Log in to schedule an event"
                               onclick="location.href='@Url.Action("Login", "Account",
                                      new { returnUrl = Url.Action("Edit", "ParkEvents")})'" />
                    </h3>
                }
            </td>
        </tr>
    </table>
</div>

<form id="filter-form-park-events" asp-controller="ParkEvents" asp-action="Filter" method="get">
    <p class="d-inline-flex font-weight-bolder" style=" width: 100%; ">

        <span class="w3-margin-right w3-margin-left">
            Event name:
        </span>
        <input type="text" class="border-dark rounded filter-form-group" name="searchTerm" value="@TempData["Filter"]" />

        <span class="w3-margin-right w3-margin-left">
            Park:
        </span>
        @Html.DropDownList("parkFilter",
       new SelectList((System.Collections.IEnumerable)ViewData["Parks"], "Value", "Text"), "",
       htmlAttributes: new
       {
           @class = "form-control d-inline-flex filter-form-group",
           name = "parkFilter",
           style = "max-width: 20%; font-size: 12px; padding: 0px;"
       })
        <span class="w3-margin-right w3-margin-left">
            Date:
        </span>
        <input name="date" type="date"
               class="border-dark rounded form-control filter-form-group"
               style="max-width: 20%; font-size: 12px; padding: 0px;" />

        <span class="w3-margin-right w3-margin-left">
            Sort by:
        </span>
        @Html.DropDownList("SortBy",
       new SelectList((System.Collections.IEnumerable)ViewData["SortOptions"], "Value", "Text"), "",
       htmlAttributes: new
       {
           @class = "form-control d-inline-flex filter-form-group",
           name = "sortBy",
           style = "max-width: 20%; font-size: 12px; padding: 0px;"
       })

        <input type="submit" class="btn-outline-light btn-dark btn-light rounded" value="Filter and Sort" />

    </p>
</form>

@if (TempData["Matches"] != null)
{
    <span class="alert-danger rounded w3-margin-left">@TempData["Matches"]</span>
}

@if (TempData["FilteredSorted"] != null || @TempData["Filter"] != null)
{
    <form asp-controller="ParkEvents" asp-action="Index" method="get" class="d-inline-flex">
        <p>
            <input type="submit" value="Remove Filters and Sort" class="border-danger text-danger" />
        </p>
    </form>
}

<div class="bg-info border-dark text-dark w-auto rounded">Viewing <strong>@Model.Count()</strong> upcoming events.</div>


@foreach (var ev in Model)
{
    <partial name="_Summary" model="ev" />
}