@model OrderModel

<div class="row order-item">
    <h4 class="w-100 border-info text-info font-weight-bolder"><strong>Order #:</strong> @Model.OrderNumber</h4>
    <ul>
        <li><strong>Ordered:</strong> @Model.DateCreated </li>
        <li><strong>Expected delivery:</strong> @Model.DeliveryDate </li>
        <li><strong>Total:</strong> £@Model.Total</li>
    </ul>
    <table class="table table-bordered table-hover">
        @foreach (var item in Model.Items)
        {
            <tr>
                <td><strong>@item.ProductName</strong></td>
                <td><img src="/images/shop/products/@item.ImageId" alt="@item.ProductName" class="img-thumbnail checkout-thumb" /></td>
                <td> @item.Quantity </td>
                <td> £@item.UnitPrice</td>
                <td> £@item.Subtotal </td>
            </tr>
        }
    </table>
</div>
