@model ParkEventModel

<div class="panel panel-default row w-100 bg-white p-2 rounded">
    <div class="flex-column position-relative card border m-1 p-1 b">
        <input class="btn-warning w3-hover-border-amber w3-hover-text-amber rounded"
       type="button"
       value="@Model.Name"
       onclick="location.href='@Url.Action("Details", "ParkEvents",
                                      new { eventId = Model.EventId })'" />
        <ul class="list-unstyled">
            <li>
                <span class="font-weight-bolder w3-text-deep-orange">@Html.DisplayNameFor(model => model.ParkName): </span>
                @Model.ParkName
            </li>
            <li>
                <span class="font-weight-bolder w3-text-deep-orange">@Html.DisplayNameFor(model => model.Date): </span>
                @Model.Date.ToShortDateString()
            </li>
            <li>
                <input class="nav-link text-dark w3-hover-amber rounded border-0 p-0 d-inline-flex font-weight-bolder p-1 btn btn-info"
                       type="button"
                       value="Find out more"
                       onclick="location.href='@Url.Action("Details", "ParkEvents",
                                      new { eventId = Model.EventId })'" />
            </li>
        </ul>
    </div>
</div>