@model LocalParksUserModel
@inject IUserInfoService service
@{
    ViewData["Title"] = "Your Account";
}

<partial name="_AccountNavBar" />

<h1 class="jumbotron-fluid align-self-md-center">Hi, @Model.FirstName</h1>

<div class="row align-content-center">
    <div class="col-md-6 p-2 d-block card text-wrap">
        <h3 class="badge-info rounded pr-2 w3-green"> Your account</h3>

        <table class="table table-striped table-bordered dt-responsive text-break flex-wrap w3-center rounded w3-pale-green">
            <tr>
                <th class="thead-light">@Html.DisplayNameFor(model => model.Username)</th>
                <td class="thead-light">@Model.Username</td>
            </tr>
            <tr>
                <th class="thead-light">@Html.DisplayNameFor(model => model.FirstName)</th>
                <td class="thead-light">@Model.FirstName @Model.LastName</td>
            </tr>
            <tr>
                <th class="thead-light">@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                <td class="thead-light">@Model.PhoneNumber</td>
            </tr>
            <tr>
                <th class="thead-light">@Html.DisplayNameFor(model => model.Email)</th>
                <td class="thead-light">@Model.Email</td>
            </tr>
            <tr>
                <th class="thead-light">Member for: </th>
                <td class="thead-light">@service.GetMemberShipLength(Model.MemberSince))</td>
            </tr>
            <tr>
                <th class="thead-light">@Html.DisplayNameFor(model => model.PostcodeZone)</th>
                <td class="thead-light">
                    <input class="btn-dark w3-hover-border-amber w3-hover-text-amber rounded"
                           type="button"
                           value="@Model.PostcodeZone"
                           onclick="location.href='@Url.Action("Index", "Parks",
                                                  new { postcode = Model.PostcodeZone })'" />
                </td>
            </tr>
        </table>
    </div>

    <div class="col-md-4 offset-md-1 p-1 d-block">
        @if (Model.OrganisedEvents.Any())
        {
            <h3 class="badge-info rounded p-1">Your organised events</h3>

            <input class="btn-dark w3-hover-border-amber w3-hover-text-amber rounded"
                   type="button"
                   value="Create another"
                   onclick="location.href='@Url.Action("Edit", "ParkEvents")'" />


            <div class="d-flex flex-row justify-content-center flex-wrap align-items-center">
                @foreach (var ev in Model.OrganisedEvents)
                {
                    <div class="flex-column position-relative">
                        <partial name="_EventSummary" model="ev" />
                    </div>
                }
            </div>
        }
        else
        {
            <h4 class="badge-info align-self-md-center">Organise an event today!</h4>
            <input class="btn-dark w3-hover-border-amber w3-hover-text-amber rounded"
                   type="button"
                   value="Create an Event"
                   onclick="location.href='@Url.Action("Edit", "ParkEvents")'" />
        }
    </div>
</div>