@model LocalParks.Models.SportsClubModel
@{
    ViewData["Title"] = $"{Model.Name} Details";
}

<div>
    <input class="btn-dark w3-hover-border-amber w3-hover-text-amber rounded"
           type="button"
           value="All sports clubs"
           onclick="location.href='@Url.Action("Index", "SportsClubs")'" />
</div>

<div class="jumbotron row m-2 ">
    <h2>@Model.Name</h2>
</div>
<div class="d-flex flex-row justify-content-around flex-wrap alert-warning m-3">
    <h5>
        <i class="fa fa-clock"></i>
        Their sport is:
    </h5>
    <h4 class="font-weight-bold">
        <input class="btn-dark w3-hover-border-amber w3-hover-text-amber rounded"
               type="button"
               value="@Model.Sport.ToString()"
               onclick="location.href='@Url.Action("Filter", "SportsClubs", new { sportType = Model.Sport.ToString() })'" />
    </h4>
</div>

<div class="p-1 m-4 card border-info">
    <h5 class="font-weight-bolder text-info text-center"><ins>Information</ins></h5>
    <div>
        <ul class="list-unstyled d-flex flex-row justify-content-around flex-wrap ">
            <li class="flex-column position-relative">
                <span class="font-weight-bolder">Located in: </span>
                <input class="btn-dark w3-hover-border-amber w3-hover-text-amber rounded" type="button"
                       value="@Model.ParkName"
                       onclick="location.href='@Url.Action("Details", "Parks",
                                      new { parkId = @Model.ParkId })'" />
            </li>
            <li class="flex-column position-relative">
                <span class="font-weight-bolder">Number of members:</span>
                @Model.Members
            </li>
        </ul>
    </div>
</div>

<div class="m-2 p-1 bg-dark text-light m-3 rounded">
    <div class="w-100 container p-3">
        <h4 class="font-weight-bolder text-center w3-text-amber">Interested in signing up?</h4>
        <div class="d-flex flex-row justify-content-around flex-wrap m-1 w-100">
            <div class="flex-column">
                <a class="rounded font-weight-bolder card p-1 d-flex flex-row justify-content-between flex-wrap m-1 bg-transparent"
                   href="#SportsClubsCollapse" role="button" data-toggle="collapse"
                   aria-expanded="false" aria-controls="SportsClubsCollapse">
                    <span class="align-items-center">
                        <i class="fa fa-search"></i> More Information
                    </span>
                </a>
                <div class="collapse" id="SportsClubsCollapse">
                    <div class="flex-column position-relative container p-3 text-wrap text-break">
                        <ul class="list-unstyled flex-wrap align-items-center font-weight-bold">
                            <li class="p-2 border-bottom">
                                <span class="font-weight-bolder w3-text-amber">Club President: </span>
                                @Model.President
                            </li>
                            <li class="p-2 border-bottom">
                                <span class="font-weight-bolder w3-text-amber">Contact Email Address: </span>
                                @Model.Email
                            </li>
                            <li class="p-2 border-bottom">
                                <span class="font-weight-bolder w3-text-amber">Annual Membership Fee: </span>
                                £ @Model.MembershipFee
                            </li>
                        </ul>
                    </div>
                    <div class="flex-column position-relative border-bottom">
                        <span class="font-weight-bolder w3-text-amber">Visit their website: </span>
                        <a href="@Model.Website">@Model.Website</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>